<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Address</h4>
                {% if not footer_address %}
                <p class="lead mb-0">
                    10270 E Taron DR
                    <br />
                    Elk Grove, CA 95757
                </p>
                {% endif %}


                {% for addr in footer_address %}
                <p class="lead mb-0">
                    {{ addr.line1 }}
                    <br />
                    {{ addr.line2 }}
                </p>

                {% endfor %}

              

            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Around the Web</h4>
                {% if not footer_social %}
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>

                {% endif %}

                {% for footer in footer_social %}

                <a class="btn btn-outline-light btn-social mx-1" href="{{ footer.link }}" target="blank"><i class="{{ footer.class_grp}}"></i></a>

                {% endfor %}
                

            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">My specialization</h4>

                {% if not profile_header %}
                <p class="lead mb-0">
                    Data Engineer, Data Science and Remote Sensing
                 
                </p>

                {% endif %}

                {% for profile in profile_header %}

                <p class="lead mb-0">
                {{ profile.specialization }}                    
                </p>

                {% endfor %}

              

            </div>
        </div>
    </div>
</footer>