{% extends 'website/base.html' %}
{% load static %}

{% block content %}

    <body id="page-top">
      
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                {% if not profile_header %}

                 <!-- Masthead Avatar Image-->
                 <img class="masthead-avatar mb-5" src="{% static 'website/assets/img/passport.PNG' %}" alt="..." />
                 <!-- Masthead Heading-->
                 <h1 class="masthead-heading text-uppercase mb-0">Tajudeen Abdulazeez</h1>
                 <!-- Icon Divider-->
                 <div class="divider-custom divider-light">
                     <div class="divider-custom-line"></div>
                     <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                     <div class="divider-custom-line"></div>
                 </div>
                 <!-- Masthead Subheading-->
                 <p class="masthead-subheading font-weight-light mb-0">Data Engineer - Data Scientist - Remote Sensing</p>

                {% endif %}

                {% for profile in profile_header %}

                 <!-- Masthead Avatar Image-->
                 <img class="masthead-avatar mb-5" src="{{ profile.picture.url }}" alt="..." />
                 <!-- Masthead Heading-->
                 <h1 class="masthead-heading text-uppercase mb-0"> {{profile.name }} </h1>
                 <!-- Icon Divider-->
                 <div class="divider-custom divider-light">
                     <div class="divider-custom-line"></div>
                     <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                     <div class="divider-custom-line"></div>
                 </div>
                 <!-- Masthead Subheading-->
                 <p class="masthead-subheading font-weight-light mb-0"> profile.specialization </p>

                {% endfor %}

                 <!-- Add list of badges -->
                <ul>
                    <li style="display:inline"> <h3 style="display:inline"></h3>    </h3> </li>
                   
                </ul>



            </div>
        </header>

        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>

                </div>
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">

                    {% include 'website/portfolio.html' %}

                </div>
            </div>
        </section>

        <!-- Portfolio Modals-->
        {% include 'website/portfolio_model.html' %}



        <!-- About Section-->
        {% if not abouts %}
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>

                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ms-auto"><p class="lead"> </p></div>
                    <div class="col-lg-4 me-auto"><p class="lead">  </p></div>
                </div>

                <!-- About Section Button-->
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="">
                        <i class="fas fa-download me-2"></i>
                       
                    </a>
                </div>
            </div>

        </section>

        {% endif %}

        
        {% for about in abouts %}

        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ms-auto"><p class="lead">{{ about.part1 }}</p></div>
                    <div class="col-lg-4 me-auto"><p class="lead">{{ about.part2 }}</p></div>
                </div>

                <!-- About Section Button-->
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="{{ about.picture.url }}" target="blank">
                        <i class="fas fa-download me-2"></i>
                        {{ about.action }}
                    </a>
                </div>

                

                


            </div>

        </section>


        {% endfor %}



        <!-- Contact Section-->
        <section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Contact Section Form-->
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-7">
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->

                        

                        <div class="col col-md-12">
                            <div class="contact-form-area">
                                <div class="section-title-s3 section-title-s5">
                                </div>
                             
                                {% for message in messages %}
                                    <br>
                                    <div class="alert alert-success" style="border-radius: 100px;" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                <div class="contact-form">
                                    <form method="post" action="">
                                        {% csrf_token %}
                                        <div>
                                            {{ form.name }}
                                        </div>
                                        <div>
                                            {{ form.email }}
                                        </div>
                                        <div>
                                            {{ form.phone }}
                                        </div>
                                     
                                        <div class="comment-area">
                                            {{ form.message }}
                                        </div>
                                        <div class="submit-area">
                                            <button type="submit" class="theme-btn">Submit Now</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>                    
                    </div>


                    </div>
                </div>
            </div>
        </section>



        {% endblock %}

       
