{% extends 'website/base.html' %}
{% load static %}

{% block content %}

<!-- ##### Hero Area Start ##### -->
<div class="hero-area">
    <div class="hero-slideshow owl-carousel">

        <!-- Single Slide -->
        <div class="single-slide bg-img">
            <!-- Background Image-->
            <div class="slide-bg-img bg-img bg-overlay" style="background-image: url({% static 'website/img/bg-img/1.jpg' %});"></div>
            <!-- Welcome Text -->
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col-12 col-lg-9">
                        <div class="welcome-text text-center">
                            <h6 data-animation="fadeInUp" data-delay="100ms">your data your assets</h6>
                            <h2 data-animation="fadeInUp" data-delay="300ms"> Data <span>Analytic</span> </h2>
                            <p data-animation="fadeInUp" data-delay="500ms">We create commercially viable data drive solutions that align with our client’s business objectives. </p>
                            <a href="{% url 'website_services' %}" class="btn credit-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide Duration Indicator -->
            <div class="slide-du-indicator"></div>
        </div>

        <!-- Single Slide -->
        <div class="single-slide bg-img">
            <!-- Background Image-->
            <div class="slide-bg-img bg-img bg-overlay" style="background-image: url({% static 'website/img/bg-img/5.jpg' %});"></div>
            <!-- Welcome Text -->
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col-12 col-lg-9">
                        <div class="welcome-text text-center">
                            <h6 data-animation="fadeInDown" data-delay="100ms">your data your assets</h6>
                            <h2 data-animation="fadeInDown" data-delay="300ms"> Data <span>Warehousing</span></h2>
                            <p data-animation="fadeInDown" data-delay="500ms">Partner with us to provide a best-in-class architectural model to manage your data flow via a robust automated workflow.</p>
                            <a href="{% url 'website_services' %}" class="btn credit-btn mt-50" data-animation="fadeInDown" data-delay="700ms">Discover</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide Duration Indicator -->
            <div class="slide-du-indicator"></div>
        </div>

        <!-- Single Slide -->
        <div class="single-slide bg-img">
            <!-- Background Image-->
            <div class="slide-bg-img bg-img bg-overlay" style="background-image: url({% static 'website/img/bg-img/1.jpg' %});"></div>
            <!-- Welcome Text -->
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col-12 col-lg-9">
                        <div class="welcome-text text-center">
                            <h6 data-animation="fadeInUp" data-delay="100ms">your data your assests</h6>
                            <h2 data-animation="fadeInUp" data-delay="300ms">Financial <span>Analytics</span> </h2>
                            <p data-animation="fadeInUp" data-delay="500ms">Engage us to provide a world class expertise and professional advice with respect to your investments and businesses in order to understand their financial prospects.</p>
                            <a href="{% url 'website_services' %}" class="btn credit-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide Duration Indicator -->
            <div class="slide-du-indicator"></div>
        </div>

        <!-- Single Slide -->
        <div class="single-slide bg-img">
            <!-- Background Image-->
            <div class="slide-bg-img bg-img bg-overlay" style="background-image: url({% static 'website/img/bg-img/5.jpg' %});"></div>
            <!-- Welcome Text -->
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col-12 col-lg-9">
                        <div class="welcome-text text-center">
                            <h6 data-animation="fadeInDown" data-delay="100ms">your data your assests</h6>
                            <h2 data-animation="fadeInDown" data-delay="300ms">Big Data <span>Analytics</span> </h2>
                            <p data-animation="fadeInDown" data-delay="500ms">We create commercially viable data drive solutions that align with our client’s business objectives.</p>
                            <a href="{% url 'website_services' %}" class="btn credit-btn mt-50" data-animation="fadeInDown" data-delay="700ms">Discover</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide Duration Indicator -->
            <div class="slide-du-indicator"></div>
        </div>

    </div>
</div>
<!-- ##### Hero Area End ##### -->





<!-- ##### Features Area Start ###### -->
<section class="features-area section-padding-100-0">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-features-area mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <!-- Section Heading -->
                    <div class="section-heading">
                        <div class="line"></div>
                        <p>Take look at our</p>
                    </div>
                    <h6>Partner with us to provide a best-in-class architectural model to manage your data flow via a robust automated workflow.</h6>
                    <a href="{% url 'website_services' %}" class="btn credit-btn mt-50">Discover</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-features-area mb-100 wow fadeInUp" data-wow-delay="300ms">
                    <img src="{% static 'website/img/bg-img/2.jpg' %}" alt="">
                    <h5>Data Warehousing</h5>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-features-area mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <img src="{% static 'website/img/bg-img/3.jpg' %}" alt="">
                    <h5>Financial Analytics</h5>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-features-area mb-100 wow fadeInUp" data-wow-delay="700ms">
                    <img src="{% static 'website/img/bg-img/4.jpg' %}" alt="">
                    <h5> Data Analytic</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Features Area End ###### -->






<!-- ##### Call To Action Start ###### -->
<section class="cta-area d-flex flex-wrap">
    <!-- Cta Thumbnail -->
    <div class="cta-thumbnail bg-img jarallax" style="background-image: url({% static 'website/img/bg-img/5.jpg' %});"></div>

    <!-- Cta Content -->
    <div class="cta-content">
        <!-- Section Heading -->
        <div class="section-heading white">
            <div class="line"></div>
            <p>Dаtа can help уоu bеttеr undеrѕtаnd thе сurrеnt ѕtаtе оf buѕіnеѕѕ, рrеdісt thе futurе аnd drіvе асtіоn with іmрrоvеd insights</p>
            <h2> LET US HELP YOU AND DRIVE YOUR BUSINESS TO SUCCESS.</h2>
        </div>
        <h6>We create commercially viable data drive solutions that align with our client’s business objectives.</h6>
        <div class="d-flex flex-wrap mt-50">
           
        </div>
        <a href="{% url 'website_contact' %}" class="btn credit-btn box-shadow btn-2">Ring us now</a>
    </div>
</section>
<!-- ##### Call To Action End ###### -->

<!-- ##### Call To Action Start ###### -->
<section class="cta-2-area wow fadeInUp" data-wow-delay="100ms">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Cta Content -->
                <div class="cta-content d-flex flex-wrap align-items-center justify-content-between">
                    <div class="cta-text">
                        <h4>Is уоur organization is gеttіng thе mоѕt out оf your data? If your аnѕwеr is NO? </h4>
                    </div>
                    <div class="cta-btn">
                        <a href="{% url 'website_contact' %}" class="btn credit-btn box-shadow">Schedule a visit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Call To Action End ###### -->

<!-- ##### Services Area Start ###### -->
<section class="services-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <div class="line"></div>
                    <p>Take look at our</p>
                    <h2>Our services</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Service Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="200ms">
                    <div class="icon">
                        <i class="icon-profits"></i>
                    </div>
                    <div class="text">
                        <h5>Data Analytics</h5>
                        <p>We create commercially viable data drive solutions that align with our client’s business objectives.</p>
                    </div>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="300ms">
                    <div class="icon">
                        <i class="icon-money-1"></i>
                    </div>
                    <div class="text">
                        <h5>Data Warehousing</h5>
                        <p>Partner with us to provide a best-in-class architectural model to manage your data flow via a robust automated workflow.</p>
                    </div>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="400ms">
                    <div class="icon">
                        <i class="icon-coin"></i>
                    </div>
                    <div class="text">
                        <h5>Financial Analytics</h5>
                        <p>Engage us to provide a world class expertise and professional advice with respect to your investments and businesses in order to understand their financial prospects.</p>
                    </div>
                </div>
            </div>

           

        </div>
    </div>
</section>
<!-- ##### Services Area End ###### -->



{% endblock %}






{% block extra_body %}
<script>
var exupdated = null;
var exrate = {}
var rcv_cur = []
var send_cur = []

{% for erate in exchange_rates %}
rcv_cur.push('{{erate.receive_currency}}')
send_cur.push('{{erate.send_currency}}')
exrate['{{erate.receive_currency}}'] = {
    '{{erate.send_currency}}' : {{erate.remitpro_rate}},
}
exupdated = "{{erate.updated}}"
{% endfor %}

$(".exupdated").html(exupdated)

</script>


<script>
$(document).ready(function(){

    for (i = 0; i < rcv_cur.length; i++) {
        $("#exrate_form [name='input_currency']").append(`<option value='${rcv_cur[i]}' >${rcv_cur[i]}</option>`)
        $("#exrate_form [name='output_currency']").append(`<option value='${send_cur[i]}' >${send_cur[i]}</option>`)
    }
    function set_rate(){
        let input_amount = parseFloat($("#exrate_form [name='input_amount']").val()).toFixed(2);
        let input_cur = $("#exrate_form [name='input_currency']").val()
        let output_cur = $("#exrate_form [name='output_currency']").val()
        let perrate = parseFloat(exrate[input_cur][output_cur]).toFixed(2);
        let total_rate = parseFloat(perrate*input_amount).toFixed(2);

        $("#exrate_form [name='output_amount']").val(total_rate)
    }
    $("#exrate_form [name='input_amount']").on('change', set_rate)
    $("#exrate_form [name='input_amount']").on('input', set_rate)
    $("#exrate_form [name='input_currency']").on('change', set_rate)
    $("#exrate_form [name='output_currency']").on('change', set_rate)
});

</script>
{% endblock %}