{% extends 'website/base.html' %}
{% load static %}

{% block content %}




<!-- ##### Services Area Start ###### -->
<section class="services-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <div class="line"></div>
                    <p>Take look at our</p>
                    <h2>Our services</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Service Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="200ms">
                    <div class="icon">
                        <i class="icon-profits"></i>
                    </div>
                    <div class="text">
                        <h5>Data Analytics</h5>
                        <p>We create commercially viable data drive solutions that align with our client’s business objectives.</p>
                    </div>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="300ms">
                    <div class="icon">
                        <i class="icon-money-1"></i>
                    </div>
                    <div class="text">
                        <h5>Data Warehousing</h5>
                        <p>Partner with us to provide a best-in-class architectural model to manage your data flow via a robust automated workflow.</p>
                    </div>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="400ms">
                    <div class="icon">
                        <i class="icon-coin"></i>
                    </div>
                    <div class="text">
                        <h5>Financial Analytics</h5>
                        <p>Engage us to provide a world class expertise and professional advice with respect to your investments and businesses in order to understand their financial prospects.</p>
                    </div>
                </div>
            </div>

           

        </div>
    </div>
</section>
<!-- ##### Services Area End ###### -->


    <!-- ##### Special Feature Area Start ###### -->
    <section class="special-feature-area d-flex flex-wrap">
        <!-- Special Feature Content -->
        <div class="special-feature-content section-padding-100">
            <div class="feature-text">
                <!-- Section Heading -->
                <div class="section-heading white mb-50">
                    <div class="line"></div>
                    <p>Dаtа can help уоu bеttеr undеrѕtаnd thе сurrеnt ѕtаtе оf buѕіnеѕѕ, рrеdісt thе futurе аnd drіvе асtіоn with іmрrоvеd insights.</p>
                    <h2>LET ME HELP YOU AND DRIVE YOUR BUSINESS TO SUCCESS.</h2>
                </div>
                <h6>Partner with us to provide a best-in-class architectural model to manage your data flow via a robust automated workflow.</h6>
                <a href="{% url 'website_services' %}" class="btn credit-btn btn-2 box-shadow">Read More</a>
            </div>
        </div>
        <!-- Special Feature Thumbnail -->
        <div class="special-feature-thumbnail bg-img jarallax" style="background-image: url({% static 'website/img/bg-img/20.jpg' %});"></div>
    </section>
    <!-- ##### Special Feature Area End ###### -->

    <!-- ##### Special Feature Area Start ###### -->
    <section class="special-feature-area style-2 d-flex flex-wrap">
        <!-- Special Feature Thumbnail -->
        <div class="special-feature-thumbnail bg-img jarallax" style="background-image: url({% static 'website/img/bg-img/21.jpg' %});"></div>
        <!-- Special Feature Content -->
        <div class="special-feature-content section-padding-100">
            <div class="feature-text">
                <!-- Section Heading -->
                <div class="section-heading white mb-50">
                    <div class="line"></div>
                    <h2>We create commercially viable data driven solutions that align with our client’s business objectives.</h2>
                </div>
                <h6> we can trаnѕfоrm уоur rаw оr big dаtа into vаluаblе іnfоrmаtіоn that саn brіng vаluе to уоur businesses wіth ѕtrоng ѕkіllѕ іn dаtа mining, mасhіnе learning, dаtаbаѕе mаnаgеmеnt, рrосеѕѕ орtіmіzаtіоn, text mіnіng, dаtа visualization, business аnаlуtісѕ, buѕіnеѕѕ intelligence, аnd dаtа аnаlуtісѕ.</h6>
                <a href="{% url 'website_contact' %}" class="btn credit-btn box-shadow">Contact Us</a>
            </div>
        </div>
    </section>
    <!-- ##### Special Feature Area End ###### -->


{% endblock %}